
.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()

.caja
	max-width: 400px
	caja-sombra()

	&__contenido
		padding: 20px
		background: color-claro

		span
			color: color-secundario
			titulos(FuenteParrafo)
		
		h3
			text-transform: uppercase
			font-weight: normal
			font-family: FuenteParrafo
		p
			font-family: FuenteTitulo

